<div
  data-controller="content-loader"
  data-content-loader-url-value="<%= load_content_path %>"
  data-content-loader-lazy-loading-value=""
  data-content-loader-lazy-loading-root-margin-value="30px"
  data-content-loader-lazy-loading-threshold-value="0.4"
>
  <i class="fas fa-spinner fa-spin"></i>
  Loading comments...
</div>
