<p style="color: green"><%= notice %></p>

<% content_for :title, "museum" %>

<div class="flex justify-center">
  <div class="w-full px-4">
    <div class="flex-none gap-2 m-2">
      <%= render 'search', q: @q, url: museums_path %>
    </div>
    <!-- タイトル -->
    <h1 class="text-7xl font-bold mb-2 text-center">Museums</h1>

    <!-- 博物館リスト -->
    <div id="museums" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @museums.each do |museum| %>
        <div class="bg-white p-6 rounded-lg">
          <%= render museum %>
        </div>
      <% end %>
    </div>
  </div>
</div>
