<!--exhibition_rate-->
<div class="rating rating-md rating-half w-full mt-2">
  <h1><%= Museum.human_attribute_name(:exhibition_rate) %></h1>
  <input type="radio" name="review[exhibition_rate]" value="0.0" class="rating-hidden" />
  <input type="radio" name="review[exhibition_rate]" value="0.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="1.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="1.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="2.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="2.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="3.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="3.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="4.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="4.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[exhibition_rate]" value="5.0" class="mask mask-star-2 mask-half-2 bg-primary", checked />
</div>

<!--museum_design_rate-->
<div class="rating rating-md rating-half w-full mt-2">
<h1><%= Museum.human_attribute_name(:museum_design_rate) %></h1>
  <input type="radio" name="review[museum_design_rate]" value="0.0" class="rating-hidden" />
  <input type="radio" name="review[museum_design_rate]" value="0.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="1.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="1.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="2.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="2.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="3.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="3.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="4.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="4.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_design_rate]" value="5.0" class="mask mask-star-2 mask-half-2 bg-primary", checked />
</div>

<!--access_rate-->
<div class="rating rating-md rating-half w-full mt-2">
  <h1><%= Museum.human_attribute_name(:access_rate) %></h1>
  <input type="radio" name="review[access_rate]" value="0.0" class="rating-hidden" />
  <input type="radio" name="review[access_rate]" value="0.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[access_rate]" value="1.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[access_rate]" value="1.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[access_rate]" value="2.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[access_rate]" value="2.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[access_rate]" value="3.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[access_rate]" value="3.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[access_rate]" value="4.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[access_rate]" value="4.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[access_rate]" value="5.0" class="mask mask-star-2 mask-half-2 bg-primary", checked />
</div>


<!--museum_shop_rate  -->
<div class="rating rating-md rating-half w-full mt-2">
  <h1><%= Museum.human_attribute_name(:museum_shop_rate) %></h1>
  <input type="radio" name="review[museum_shop_rate]" value="0.0" class="rating-hidden" />
  <input type="radio" name="review[museum_shop_rate]" value="0.5" class="mask mask-star-2 mask-half-1 bg-primary" />

  <input type="radio" name="review[museum_shop_rate]" value="1.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="1.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="2.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="2.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="3.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="3.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="4.0" class="mask mask-star-2 mask-half-2 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="4.5" class="mask mask-star-2 mask-half-1 bg-primary" />
  <input type="radio" name="review[museum_shop_rate]" value="5.0" class="mask mask-star-2 mask-half-2 bg-primary", checked />
</div>

