<% content_for :title, "Editing review" %>

<h1 class="text-3xl font-bold mt-8 mb-6 text-center"><%= t('.title') %></h1>

<%= render "form", review: @review %>

<br>

<div>
  <%= link_to "Show this review", @review %> |
  <%= link_to "Back to reviews", reviews_path %>
</div>
