
<% content_for :title, "review" %>

<h1 class="text-3xl font-bold mt-8 mb-6 text-center"><%= t('.title') %></h1>
<div id="reviews" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  <% @reviews.each do |review| %>
    <div><%= render review %></div>
  <% end %>
</div>

