<% content_for :title, "New review" %>

<h1 class="text-3xl font-bold mt-8 mb-6 text-center"><%= t('.title') %></h1>

<%= render "form", review: @review %>

<br>

<div class="flex justify-center">
  <%= link_to "レビューに戻る", museum_reviews_path, class:"btn btn-wide m-2 " %>
</div>
