<!-- <footer class="footer footer-center bg-base-300 text-base-content p-4 mt-4">
  <aside>
  <p>Copyright ©2024 - All right reserved by Hajingo Industries Ltd</p>
  </aside>
  </footer> -->

  <div class="btm-nav h-16 flex justify-around items-center">
    <%= button_to museums_path, method: "get" do %>
      <div>
        <i class="fa-solid fa-building-columns fa-2x"></i>
      </div>
      <div class="btm-nav-label">Museums</div>
    <% end %>

    <%= button_to reviews_path, method:"get" do %>
      <div>
        <i class="fa-solid fa-star fa-2x"></i>
      </div>
      <div class="btm-nav-label">Reviews</div>
    <% end %>

    <%= button_to favorited_path, method: :get do %>
      <div>
        <i class="fa-solid fa-heart fa-2x"></i>
      </div>
      <div>
        <span class="btm-nav-label">Favorites</span>
      </div>
    <% end %>

    <%= button_to recommendations_path, method:"get", data: { turbo_frame: "recommendation-frame" }, id: "recommendation-button" do %>
      <div>
        <i class="fa-solid fa-brain fa-2x"></i>
      </div>
        <div class="btm-nav-label">Recommend</div>
    <% end %>
  </div>
